.lampu{
			width: 100px;
			height: 100px;
			
			background-size: cover;
			background-position: center;
		}
		 .animate{
			animation: animasi 3s
			steps(3) forwards;
		}

		@keyframes animasi{
			0%{background-image: url('1.png');
			}
	33%{background-image: url('2.png');
			}

				67%{background-image: url('3.png');
			}
		} 
		.link{
			display:block;
			width: auto;
			justify-content: center;
			align-items: center;

			/*height: 100vh ;*/
		}
		a{
			font-size:20px;
			display: block;
			text-align: center;
		}
		p{
			font-size: 20px;
			display: block;
			text-align: center;

		}
		.deskripsi{
			display: block;
			justify-content: center;
			align-items: center;
			
		}
		.link p{
			font-size: 50px;
		}
		.link a:link{
			font-size:50px;
		}
		body{
			padding: 0;
			margin: 0;
			overflow: hidden;


		}
		.videoBG{
			position: absolute;
			bottom: 0;
			left: 0;
			min-height: 100%;
			min-width: 100%;
			z-index: -1;
		}

